/* Via https://github.com/milligram/milligram-themes/blob/main/examples/dark.css */

body {
  /* background: #2c2f34; */
  background-color: black;
  color: #f2f2f2;
}

.navigation .title,
.navigation-title {
  color: #f2f2f2;
}

.navigation {
  background: #34373c;
  border-bottom: 0.1rem solid #1b1c1d;
}

.header {
  background-color: #141518;
}

pre {
  background: #141518;
}

.prettyprint,
select {
  color: #f2f2f2;
}

.prettyprint.lang-md * {
  color: #f2f2f2 !important;
}

code {
  background: #141518;
}

.prettyprint .atv {
  color: rgba(73, 158, 223, 1);
}

summary {
  cursor: pointer;
}

iframe {
  margin: 1em auto;
  display: block;
  max-width: 100%;
}
